<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
       include ../static/style.css
       
</head>
<body>
    <nav>
        <ul>
            <li><a href="/about")>About</a></li>
            <li><a href="/contact")>Contact Us</a></li>
        </ul>    
    </nav>
    <h1>GET GYM MEMBERSHIP NOW!!</h1>
    <form action="/gym" method="POST" id="contact">
        <input type="text" class="text" name="name" id="name" placeholder="Enter your name">
        <input type="number" class="text" name="age" id="age" placeholder="Enter your age">
        <input type="text" class="text" name="gender" id="gender" placeholder="Enter your gender">
        <input type="date" class="text" id="date" name="date" value="2021-04-26" placeholder="Enter Date you want to join">
        <textarea name="address" class="box" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea>
        <textarea name="more" class="box" id="more" cols="30" rows="10" placeholder="Tell us more about yourself"></textarea>
        <button class="btn">Submit</button>
        <div class="base"></div>
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="act"><p>Click Here<br>For calender!</p></div>
    </form>
    <script>
        
    </script>
</body>
</html>